# =====================
# Java / Spring Boot
# =====================
*.class
*.jar
*.war
*.ear

# =====================
# Build folders
# =====================
target/
build/

# =====================
# Logs
# =====================
*.log

# =====================
# Environment
# =====================
.env
.env.*

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
out/

# =====================
# OS files
# =====================
.DS_Store

# =====================
# JVM crash logs
# =====================
hs_err_pid*
replay_pid*

# =====================
# Spring temp
# =====================
*.pid
*.lock

# =====================
# Maven wrapper (KEEP)
# =====================
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar